{% extends 'core/base.html' %}
{% load static %}

{% block principal %}
<div class="mt-5 container">
    <div class="mt-5 container text-center">
        <h3>Listado de empleados registrados</h3>
    </div>
        {% if perms.core.view_empleado %}
        <table class="mt-5 table">
            <thead>
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>Tipo</th>
                    <th>Foto</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for aux in lista %}
                    <tr>
                        <th scope="row">{{ aux.rut}}</th>
                        <td>{{ aux.nombre}}</td>
                        <td>{{ aux.apellido}}</td>
                        <td>{{ aux.edad}}</td>
                        <td>{{ aux.telefono}}</td>
                        <td>{{ aux.direccion}}</td>
                        <td>{{ aux.tipo}}</td>
                        <td>
                            {% if aux.foto %} 
                                <img src=" {{ aux.foto.url }} " alt="foto de perfil" width="100" height="100" >
                            {% else %}
                                <img src="{% static 'core/images/iconprofile.png' %}" width="100" height="100">
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if perms.core.change_empleado %}
                                <a href="{% url 'updateempleado' aux.id %}" class="btn btn-info">Modificar</a>
                            {% endif %}
                            {% if perms.core.delete_empleado %}
                                <a onclick="confirmDelete({{ aux.id }})" class="btn btn-warning">Eliminar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}