{% extends 'core/base.html' %}
{% load static %}

{% block principal %}
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4 font-weight-bold">Información de Contacto</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3">
                <p><span>Dirección:</span> Santiago, Chile</p>
            </div>
            <div class="col-md-3">
                <p><span>Teléfono:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Email:</span> <a href="mailto:roxanymontenegro@gmail.com">roxanymontenegro</a></p>
            </div>
            <div class="col-md-3">
                <p><span>SitioWeb:</span> <a href="https://github.com/Roxanymt">GitHub</a></p>
            </div>
        </div>
        <div class="row block-9">
            <div class="col-md-6 order-md-last pr-md-5">
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Su Nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Su Correo">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Asunto">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Enviar Mensaje" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <img src="{% static 'core/images/pollito.jpg' %}" class="img-fluid" height="350" width="350">
            </div>
        </div>
    </div>
</section>
{% endblock %}
